* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(248, 248, 248);
}
.content {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  height: 4rem;
  width: 4rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}
.nav-bar {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  border-right: 1px;
  border-color: black;
  background-color: rgb(238, 238, 238);
  height: 55px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.links {
  text-decoration: none;
  color: black;
}

.icons {
  height: 13.3px;
  width: 13.3px;
}

/*Home Page*/

.img-cooking {
  height: auto;
  width: 100%;
}

.home {
  margin-top: 3rem;
}

/* Toggle switch */
.switch {
  height: 2rem;
  margin-left: 5rem;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  height: 2rem;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4d4d4d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fafafa;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fafafa;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Recipes page*/

.recipes {
  margin-top: 6rem;
  margin-left: 40%;
  margin-right: 40%;
}

.search-field {
  height: 2rem;
  border-radius: 2rem;
  width: 90%;
  border: 1px solid #dedede;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.recipes-button {
  background-color: #ffa600;
  background-image: linear-gradient(to right, #ff7300, #fff200);
  border-radius: 5px;
  border: 1px solid #ffa600;
  padding: 6px;
  margin-left: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.recipes-button:hover {
  background-image: linear-gradient(to right, #d96200, #d2c700);
}

.likes-button {
  background-color: #ffa600;
  background-image: linear-gradient(to right, #cd44ff, #ff6ceb);
  border-radius: 5px;
  border: 1px solid #ff57d5;
  padding: 6px;
  margin-left: 80%;
  font-size: 1rem;
  cursor: pointer;
}

.likes-button:hover {
  background-image: linear-gradient(to right, #d76aff, #ff7aed);
}

/*Home Page*/

.sign-up-button {
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  margin-left: 80%;
  margin-right: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.sign-up-button:hover {
  background-color: #dddcdc;
}

.recipes-button-home {
  background-color: #ffa600;
  background-image: linear-gradient(to right, #ff7300, #fff200);
  border-radius: 5px;
  border: 1px solid #ffa600;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.recipes-button-home:hover {
  background-image: linear-gradient(to right, #ea6900, #dbd000);
}

/*Likes Page*/

.likesH1 {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  margin-top: 5%;
  color: #f5931f;
}

.removeLikeBtn {
  background-color: #ffa600;
  background-image: linear-gradient(to right, #ff7300, #fff200);
  border-radius: 5px;
  border: 1px solid #ffa600;
  padding: 6px;
  margin-left: 78.5%;
  font-size: 1rem;
  cursor: pointer;
}

.removeLikeBtn:hover {
  background-image: linear-gradient(to right, #ea6900, #dbd000);
}

/* Spinner */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(53, 166, 0);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(53, 166, 0) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
